.custom-file-upload {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    color: #74873f;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.change-photo_wrapper {
    margin-top: 20px;
    border: solid 1px #97a0cb;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.change-photo_wrapper:hover {
    background-color: #eaeef1;
    border: solid 1px #3f51b5;
    cursor: pointer;
}

.custom-file-upload:hover {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}



.btn-one {
    color: #0a0505;
    transition: all 0.3s;
    background-color: #742d07;
    border-radius: 30px;
    width: 500px;
}
.btn-one span {
    transition: all 0.5s;

}

.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);

}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(103, 224, 4, 0.1);
    border-radius: 10px;

}
.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
    background-color: #8f9ce8;
}
